//- //- includes utils.pug
extends layout

block content
  link(rel="stylesheet" href="/stylesheets/comics.css")
  script(src="/javascripts/comics.js" type="module" defer)

  div(id='comicsGrid')
    each comic in comics
      div(class='comicsCells')
        div(class="comic_img")
          a(href=`/comics/${comic.id}`)
            img(src=comic.coverUrl)
        script(src="/javascripts/shelfButton.js" type="module" defer)
        button(type='button' class='shelf_btn' id=`shelf-btn${comic.id}`) Add To Shelf
