//- //- includes utils.pug
extends layout

block content
  link(rel="stylesheet" href="/stylesheets/comics.css")
  script(src="/javascripts/comics.js" type="module" defer)
  button(type='button' class='btn_read') Want To Read
  button(type='button' class='btn_read') Want To Read
  button(type='button' class='btn_read') Want To Read
  button(type='button' class='btn_read') Want To Read
  div(id='comicsGrid')
    each comic in comics
      div(class='comicsCells')
        img(src=comic.coverUrl)
        p= comic.title
