extends layout

block content
  link(rel="stylesheet" href="/stylesheets/comics.css")
  script(src="/scripts/comics.js" type="module" defer)
  script(src="/scripts/shelfButton.js" type="module" defer)

  div(id='comicsGrid')
    each comic in comics
      div(class='comicsCells')
        div(class='title')
          p= comic.title
        div(class="comicImage")
          a(href=`/comics/${comic.id}`)
            img(src=comic.coverUrl)