extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
  script(src="/javascripts/demoButton.js" type="module" defer)

  .wrapper
  .grid.grid__container      
    .grid__section.grid__section-2
      .grid__item.grid__item-2-1 Know what you’re looking for?
      .grid__item.grid__item-2-2
        input#searchTitle.form-control(type='searchTitle', name="searchTitle", placeholder='Enter Search Criteria Here')
        button(type='button' class='search_btn') Search
          a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
      .grid__item.grid__item-2-3

    .grid__section.grid__section-1.flex-container-1
      div(class='author-search')
        div(id='thirdDropdown')
          label(class='search-label')  Search our collection by author:
          select(name='Author' placeholder="Author" id="author" class="dropdown")
            option(value='' style="display: none") Author
            each author in authors
              option(value= author)= author
      div(class='splash-image-div')
          div(id='secondDropdown')
          label(class='search-label')  Search our collection by title:
          select(name='Title' placeholder="Title" id="title" class="dropdown")
            option(value='' style="display: none") Title
            each title in titles
              option(value= title[1])= title[0]
      div(class='genre-search')
        div(id='fourthDropdown')
          label(class='search-label')  Search our collection by genre :
          select(name='Genre' placeholder="Genre" id="genre" class="dropdown")
            option(value='' st  yle="display: none") Genre
            each genre in genres
              option(value= genre)= genre
      
    .grid__section.grid__section-8
      img(class='splash-image' src='/images/PageHeader_2000x800.jpg')
        
    .grid__section.grid__section-9
      .grid__item.grid__item-9-1
        p(class='name') Github Repo
        div(class='icons-container')
          a(href="https://github.com/Rich-Supe/Comic-Reads-App")
            img(src="/images/see-all-open-source-repositories-github-logo-11563031735gubsot66ry.png" class='icon')
      .grid__item.grid__item-9-2
        p(class='name') Rich Supe
        div(class='icons-container')
          a(href="https://github.com/Rich-Supe")
            img(src='/images/kisspng-github-computer-icons-icon-design-github-5ab8a31e334e73.4114704215220498222102.png' class='icon')
          a(href="https://www.linkedin.com/in/richard-supe/")
            img(src='/images/img_210185.png' class='icon') 
          a(href="https://angel.co/u/rich-supe")
            img(src='/images/png-transparent-computer-icons-angellist-font-others-miscellaneous-hand-logo-thumbnail.png' class='icon')
      .grid__item.grid__item-9-3
        p(class='name') Mike Sineath
        div(class='icons-container')
          a(href="https://github.com/msineath")
            img(src='/images/kisspng-github-computer-icons-icon-design-github-5ab8a31e334e73.4114704215220498222102.png' class='icon')
          a(href="https://www.linkedin.com/in/mike-sineath-93149a213/")
            img(src='/images/img_210185.png' class='icon')
          a(href="https://angel.co/u/michael-sineath")
            img(src='/images/png-transparent-computer-icons-angellist-font-others-miscellaneous-hand-logo-thumbnail.png' class='icon')
      .grid__item.grid__item-9-4
        p(class='name') Stephen Choung
        div(class='icons-container')
          a(href="https://github.com/Twprcntmlk")
            img(src='/images/kisspng-github-computer-icons-icon-design-github-5ab8a31e334e73.4114704215220498222102.png' class='icon')
          a(href="https://www.linkedin.com/in/stephen-choung-jino/")
            img(src='/images/img_210185.png' class='icon')
          a(href="https://angel.co/u/stephen-choung")
            img(src='/images/png-transparent-computer-icons-angellist-font-others-miscellaneous-hand-logo-thumbnail.png' class='icon')
      .grid__item.grid__item-9-5
        p(class='name') Nathan Mount
        div(class='icons-container')
          a(href="https://github.com/nmount")
            img(src='/images/kisspng-github-computer-icons-icon-design-github-5ab8a31e334e73.4114704215220498222102.png' class='icon')
          a(href="https://www.linkedin.com/in/nathan-mount-458bba133/")
            img(src='/images/img_210185.png' class='icon')