doctype html
html
  head
    block head
      title="Comic Reads"
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel='stylesheet' href='/stylesheets/main.css')
  body
    header
      nav
        if locals.authenticated
          span(class='navbar-text') Welcome #{user.firstName}!
          a(href='/') Home
          a(href=`/user/${user.id}`) Shelves
          a(href='/comics') Comics

          div(id='navButtons')
            form(class='form-inline pr-4' action='/user/logout' method='post')
              button(class='logout' type='submit') Logout
        else
          a(class='btn btn-sm btn-dark mr-2' href='/user/login') Login
          a(class='btn btn-sm btn-dark' href='/user/register') Register
          if !locals.authenticated
            button(type='button' class='demo_btn') Login As Demo User
            
    block content
