extends layout.pug

include utils.pug

block content
    //- h3= "Edit Review"
    form(action=`/comics/${}/edit/${}` method="post" class="edit-form")
            div
                label Comment
                textarea(name='editCommentArea', class='edit')
            button(type='submit' class='editReviewBtn') Edit Review
