include utils.pug

mixin shelf(shelfId)
    section(class="shelf")
        each Shelf in userShelves
            each Comic in Shelf.Comics
                +comicCard( Comic.coverUrl, Comic.title, Comic.author, Comic.genre, Comic.id)
