include utils.pug

mixin shelf(shelfId)
    section(class="shelf")
    h3 HELLO
        each comic in shelves
            +comicCard( comic.comicUrl, comic.title, comic.author, comic.genre, comic.id)
