extends layout

include shelf.pug
include utils.pug
    link(rel="stylesheet" href="/stylesheets/shelf.css")
    script(src="/javascripts/shelfButton.js" type="module" defer)

block content
    if(userShelves)
        div(class="user__shelves")
        h1 Your Shelves 
        each shelf in userShelves
            div(class='shelfInstance')
                h2(id=shelf.name) Shelf: #{shelf.name}
                    each Comic in shelf.Comics
                        +comicCard( Comic.coverUrl, Comic.title, Comic.author, Comic.genre, Comic.id)


//- div(class)