extends layout

include shelf.pug
    link(rel="stylesheet" href="/stylesheets/shelf.css")


block content
    if(userShelves)
        div(class="user__shelves")
        h1 Your Shelves 
        each shelf in userShelves
            div(class='shelfInstance')
                h2 Shelf: #{shelf.name}
                    +shelf(shelf.id)

//- div(class)