#comicsGrid {
    display: flex;
    flex-wrap: wrap;
}

.comicsCells {
    justify-content: space-evenly;
    padding: 15px;
}

img {
    width: 316px;
    height: 475px;
}

p {
    margin-bottom: 0px;
    text-align: center;
    font-size: 15px;
}

.cellButtons {
    display: flex;
    justify-content: center;
    padding: 5px;
}

button {
    margin: 2px 8px;
}