#comicsGrid {
    display: flex;
    flex-wrap: wrap;
}

.comicsCells {
    width: 316px;
    height: 475px;
    justify-content: space-evenly;
    /* margin: 2px 15px; */
}

img {
    height: 90%;
    width: 90%;
    margin: auto 5%;
}

p {
    margin-bottom: 0px;
    text-align: center;
    font-size: 15px;
}