html {
  height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
  }

.demo_btn {
  background-color: rgba(255, 255, 255, 0);
  padding:0.5em 1em;
  border:0.16em solid #FFFFFF;
  margin:4px 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:fantasy;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
}

.demo_btn:hover {
  color:#c3c1c1;
  border-color:#c3c1c1;
}

.demo_btn:active {
  color:#BBBBBB;
  border-color:#BBBBBB;
}

.favicon {
  max-width: 25px;
  max-height: 25px;
  margin: 0px 7px;
}

.dropdown {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 5px 5px 5px 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover {
  background-color: #60c763;
}

.dropdown-content {
  position: absolute;
  background-color: #4CAF50;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.search_btn{
  border: none;
  background-color: rgb(0, 0, 0, 0);
  color:#FFFFFF;
  padding:0.2em 1em 0.4em;
  border:0.16em solid #FFFFFF;
  margin:2px 0.3em 0.3em 0;
  font-size: 14px;
}

.search_btn:hover {
  border-color: rgb(200, 200, 200);
  color: rgb(235, 228, 228);
}

#searchTitle{
  width: 250px;
  height: 35px;
}

/* Main Grid Styles */
.grid__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.grid__section {
  border: 1px solid #333333;
}

.author-search,
.splash-image-div,
.genre-search {
  border: 1px solid #333333;
  width: 33.3333333333%;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.search-label {
  font-family: fantasy;
}


.grid__section-1 {
  background-image: url("/images/5261-READ_header_2000x800_options_orange2.png");
  background-position: center;
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.grid__item-1-1 {
  font-size: 80px;
  color: Black;
}

.grid__item-1-2 {
  color: Black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  justify-self: center;
}

.grid__item-1-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.grid__section-2 {
  height: 50%;
  display: flex;
  justify-content:center;
  background-image: url('../images/5261-READ_header_2000x800_options_orange2.png');
}

.splash-image {
  width: 78%;
}

.flex-container-1 {
  display: flex;
}

.grid__item {
  border: 1px solid #333333;
}

  /* Grid Section 8 News Styles */
.grid__section-3 {
  display: flex;
  justify-content: center;
  background-image: url('/images/5261-READ_header_2000x800_options_orange2.png');
  background-repeat: no-repeat;
  background-size: fill;
}

/* Grid Section 9 Footer Styles */
.grid__section-4 {
  display: flex;
  margin-bottom: 0px;
  width: 100%;
  background-image: url("/images/5261-READ_header_2000x800_options_orange2.png");
  color: white;
  text-align: left;
}


.grid__item-4-1,
.grid__item-4-2,
.grid__item-4-3,
.grid__item-4-4,
.grid__item-4-5 {
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.icon {
  height: 50px;
}

.icons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.name {
  margin-bottom: 5px;
  font-family: fantasy;
  font-size: 20px;
}