/* body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: azure;
}

//Each input belongs to class form-control

.form-control {
    color:crimson;
} */