body {
    background-image: url('https://www.publicdomainpictures.net/pictures/60000/velka/background-1382605766Ivf.jpg');
    /* background-color:rgb(155, 141, 141); */
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 10px; */
    background-color: skyblue;
    background: transparent;
}

a, .navbar-text {
    font-size: 20px;
    font-family: fantasy;
}

.logout {
    font-family: fantasy;
    text-transform: uppercase;
}

span {
    font-size: 20px;
}

#navButtons {
    display: flex;
    flex-direction: row;
}
