.register-frame {
    border: 0.16em solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    position: relative;
    left: 33.3333333%;
    margin-top: 10%;
}

.form-group {
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo_btn,
.btn-primary {
    background-color: rgb(0, 0, 0, 0);
    color: black;
    padding:0.2em 1em 0.4em;
    border:0.16em solid black;
    margin:2px 0.3em 0.3em 0;
    font-family: fantasy;
    text-transform: uppercase;
    font-size: 14px;
}

.py-4 {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 1.3rem;
    font-family: fantasy;
    text-transform: uppercase;
}

p {
    margin-top: 10%;
    text-align: center;
}