.confirm-edit-div {
    position: absolute;
    width: 80%;
    height: 40%;
    left: 10%;
    top: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.edit-form {
    border: 4px solid black;
    box-shadow: 2px 2px 10px black;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-label {
    font-family: fantasy;
    font-size: 55px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%; 
}

.edit {
    width: 80%;
    height:120px;
    background-color:rgba(248, 235, 54, 0.5);
    font-size: 18px;
    color: white;
    box-shadow: 2px 2px 10px black;
}

.comment::placeholder {
    font-size: 18px;
    color: white;
}

.editReviewBtn {
    margin-top: 2%;
    margin-bottom: 2%;
}

.edit-btns {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 40%;
    justify-content: space-between;
}

.editReviewBtn {
    font-family: fantasy;
    height: 30px;
    font-size: 20px;
    position: relative;
    background-color: #4CAF50;
    color: white;
}