.confirm-delete-div {
    position: absolute;
    width: 80%;
    height: 40%;
    left: 10%;
    top: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.delete-form {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.25%;
    border: 4px solid black;
    box-shadow: 2px 2px 10px black;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-review-text-label {
    margin-top: 3%;
}

.review-label {
    font-family: fantasy;
    font-size: 55px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

.delete-review-text-body {
    width: 70%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;

}

.delete-text {
    overflow-wrap: anywhere;
    text-align: center;
}

.review-content {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 3%;
}

.delete-btns {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    width: 40%;
    justify-content: space-between;
}

.deleteReviewBtn {
    font-family: fantasy;
    height: 30px;
    font-size: 20px;
    position: relative;
    background-color: #4CAF50;
    color: white;
}