body:not(a){
    font-family: fantasy;
}

section {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    /* border: 50px solid grey; */
}

h1,
h2 {
    font-weight: 600;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px black;
}

.comicCells {
    display: flex;
    flex-direction: column;
    margin: 8px;
    margin-top: 0px;
    padding: 15px;
}

img {
    width: 221px !important;
    height: 333px !important;
}

.comicImage {
    display: flex;
    justify-content: center;
}

.infoText {
    display: flex;
    flex-direction:column;
    text-align: center;
}

.cellButtons {
    display: flex;
    justify-content: center;
}

button:not(.logout) {
    margin: 2px 8px;
    display: inline-block;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1rem;
    color:black;
    font-family: fantasy;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
    background-color: crimson;
}

#Super-Hero, #Horror, #My-Personal-Shelf {
    width: 80%;
    height: 500px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    overflow-x: auto;
    overflow-y: hidden;
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px black;
    background-color: rgba(247, 247, 247, 0.11);
    backdrop-filter: blur(30px);
    margin-left: 130px;

}

.infoText {
    height: 85px;
    display: flex;
}

.h2_text {
    margin-top: 20px;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 2px black;
}

h2:not(.h2_text) {
    margin-bottom: 10px;
}

h1 {
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 35px;
    border: black;   
}

.title {
    font-size: 1.2em;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px black;
}

.shelf-title {
    font-size: 1.8em;
    padding-bottom: 10px;
    text-shadow: 2px 1px 3px black;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-top: 23px;   
}

