body:not(a){
    font-family: fantasy;
}

section {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

h1,
h2 {
    font-weight:bold;
    text-align: center;
}

.comicCells {
    display: flex;
    flex-direction: column;
    margin: 8px;
    margin-top: 0px;
}

img {
    width: 221px !important;
    height: 333px !important;
}

.comicImage {
    display: flex;
    justify-content: center;
}

.infoText {
    display: flex;
    flex-direction:column;
    text-align: center;
}

.cellButtons {
    display: flex;
    justify-content: center;
}

button:not(.logout) {
    margin: 2px 8px;
    display: inline-block;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1rem;
    /* background-color: rgb(250, 201, 238); */
    color:black;
    font-family: fantasy;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:not(.logout):hover {
    background-color: crimson;
}

#Super-Hero, #Horror, #My-Personal-Shelf {
    width: 98%;
    height: 500px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    /* padding-bottom: 10px; */
}

.infoText {
    height: 85px;
    display: flex;
    /* background-color: black; */
}

.h2_text {
    margin-top: 20px;
    /* padding-top: 10px;
    padding-bottom: 5px; */
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2:not(.h2_text) {
    margin-bottom: 10px;
}

h1 {
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 35px;
    border: black;
    border-style: hidden hidden dotted hidden;
    /* border-bottom: black; */
    /* border-style: dotted; */

    /* color: whitesmoke; */
}

.comic-title {
    font-size: larger;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-top: 10px;
}

